body{
    margin: 0;

    // Vos class pour Police de texte (voir src/scss/_fonts.scss) :  //
    font-family:"police-ecriture";



    // Vos class pour Backgrounds images :  //

    // T-SHIRT
    .div-image-logo {
        width: 40vh;
        height: 40vh;
        .image-logo{
            max-width: 100%;
            max-height: 100%;
        }
    }
    
    // Discover Thousands Of Great Products 
    .back-img-section{
        background-image: url("../img/cta-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        height: 75vh;
    }


}